body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background: rgb(0,147,196);
    background: linear-gradient(90deg, rgba(0,147,196,1) 0%, rgba(195,0,218,1) 35%, rgba(255,151,0,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    font-weight: 50;
    border-radius: 0px 0px 40px;
   
}
header h1 {
    margin-left: 10px;
}



.playlist-card {
    background-color: #393939;
    width: 275px; 
    height: 400px;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    box-shadow: 10px 2px #0093c4, -2px 10px #c300da, -2px -10px #ff9700;
}

.playlist-card:hover {
    background-color: #575757;
    transform: scale(1.1);
    transition: transform .2s
}


.playlist-info{
    display: flex; 
    flex-direction: row;
    text-align: left;
    justify-content: left;
    padding-left: 10%;
    padding-top: 0%;
}

.playlist-name{
    width: 70%; 
    margin-left: 10px; 
}

.playlist-img {
    width: 275px;
    height: 275px; 
    background-position: center;
    background-size: contain; 
    border-radius: 25px 25px 0px 0px;
}


.playlists {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 75px;
    row-gap: 50px;
    /*grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.reactions {
    display: flex; 
    align-items: right; 
    color: #ffffff;
    margin-top: 5%;
    /* margin-left: 30%; */
    float: right; 

}

.heart {
    width: 15px; 
    height: 15px;
    color: #ff6da8
}

.heart:hover {
    color: #f281ff
}

@keyframes pop {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.heart.pop {
    animation: pop 0.3s ease-in-out;
}


.like-count {
    margin-top: 0;
    padding-right: 0%;
}

.title {
    color: #ffffff;
    text-align: left;
    padding-left: 2%;
    margin-top: 5%; 
    font-size: 100%;
    margin-bottom: 2%;
}

.creator {
    color: #ffffff;
    text-align: left;
    padding-left: 2%;
    margin-top: 0%; 
    font-size: 75%;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 .modal-content {
    border-radius: 25px 25px 25px 25px;
    background: rgb(142,227,255);
    background: linear-gradient(248deg, rgba(142,227,255,1) 0%, rgba(242,129,255,1) 35%, rgba(255,109,168,1) 62%, rgba(255,184,81,1) 100%);
    /* background: rgb(0,147,196);
    background: linear-gradient(90deg, rgba(0,147,196,1) 0%, rgba(195,0,218,1) 35%, rgba(255,151,0,1) 100%); */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%; /* Could be more or less, depending on screen size */
    /*flex display for every div in the modal*/
    color: #ffffff
 }
 .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 .close:hover,
 .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }

 .banner {
    display: flex; 
    align-items: center;
    margin-bottom: 20px; 
 }

 .banner img {
    width: 100px; 
    height: 100px; 
    margin-right: 20px; 
    border-radius: 10px; 
 }

.playlist-desc h1 {
    margin: 0;
    font-size: 2em;
}

.playlist-desc p {
    margin: 5px 0 0; 
    font-size: 1.2em; 
}

.songs {
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.songs > li {
    display: flex; 
    align-items: center; 
    background: rgba(255, 255, 255, 0.2); /*light background for contrast*/
    padding: 10px; 
    border-radius: 10px; /*decide if you wanna keep this lol*/

}

.songs img {
    width: 60px; 
    height: 60px; 
    margin-right: 10px; 
}

.song-info {
    flex-grow: 1;
}

.song-info h3 {
    margin: 0;
    font-size: 1.5em; 
}

.song-info h4 {
    margin: 5px 0 0; 
    font-size: 1em; 
    font-weight: normal; 
}

.songs p {
    margin: 0; 
    font-size: 1.2em; 
    white-space: nowrap;
}
